<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="enviroment/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <hr>
        <h1 v-if="show">{{ name + ' ' + lastname }}</h1>
        <hr>
        <h1>Mathematics Operations</h1>
        <p>Adition: {{ numberOne + numberTwo}}</p>
        <p>Sustraction: {{ numberOne - numberTwo}}</p>
        <p>Division {{ numberTwo/numberOne}}</p>
        <hr>
        <h1>Lista de Clientes</h1>
        <ul v-for="client in clients">
            <li v-if="client.payment > 18">{{ client.name + ' ' + client.payment }}</li>
        </ul>
        <button v-on:click='this.fibonacci()'>Event</button>
        <div>
            <p v-html='sendHTML'></p>
        </div>
        <p>{{message}}</p>
        <button v-on:click="reverseMessage">Mensaje invertido</button>
    </div>
    <script src="app.js"></script>
</body>

</html>